.footer {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footerBottom,
.footerTop {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 227px;
  height: 70px;
}

.footerList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footerListItem {
  display: flex;
  align-items: center;
}

.payments {
  max-width: 554px;
}

.footerIcon {
  max-width: 100%;
}
