.container {
    display: flex;
    background-image: url('assets/Back_Img.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 20% 0;
    justify-content: center;
}

.container > div {
    width: 80%;
    margin: 0 auto;
}
